library(tidyverse)
library(readr)
library(here)
library(skimr)
library(janitor)
library(dplyr)
library(ggplot2)
library(stats)

# importing and examining data
used_cars <- read_csv('C:/Users/dxson/Downloads/r_files/us_cars.csv')
head(used_cars)
glimpse(used_cars)
colnames(used_cars)

# sorting data by brand, model, year, and mileage in ascending order)
used_cars_arranged <- arrange(used_cars, brand, model, year, mileage)

used_cars_arranged %>%
  summarize(mean(price),sd(price),mean(mileage),sd(mileage),cor(price,mileage,))

head(used_cars_arranged)
glimpse(used_cars_arranged)
colnames(used_cars_arranged)

# Plotting relationship between mileage and price for different title statuses
ggplot(data = used_cars_arranged) +
  geom_point(mapping = aes(x=mileage, y=price, color=title_status)) +
  geom_smooth(mapping = aes(x=mileage, y=price, color=title_status))

# regressing price on mileage and other variables using OLS
first_reg <- lm(price ~ mileage, data = used_cars_arranged)
summary(first_reg)

second_reg <- lm(price ~ mileage + year + title_status, data = used_cars_arranged)
summary(second_reg)

ggplot(data = used_cars_arranged) +
  geom_point(mapping = aes(x=state, y=price)) +
  geom_smooth(mapping = aes(x=state, y=price, color=title_status))

### end of file ###
